# Module 2 Assignment: Deeper Analysis on the Movie Data with SQL

Welcome to this module's assignment!

Carefully read each Markdown (text) cell, which includes instructions and hints. Start by reading the background behind your upcoming tasks.

When you are done, submit your solution by saving it, then clicking on the blue submit button at the top of the page.

## Background:

You continue your work at **MovieMetrics**, a media analytics company specializing in streaming platform insights. Your manager was very impressed with the insights you were able to gather. He wants you to  perform data validation, and dive deeper into the dataset.

In this assignment, you will be working with the [MUBI SVOD Platform Database for Movie Lovers Dataset](https://www.kaggle.com/datasets/clementmsika/mubi-sqlite-database-for-movie-lovers) from Kaggle, which provides a collection of movies and user ratings, including details like movie titles, release years, genres, durations, and user-generated ratings.

You will work with the following tables. The bold columns in each table are the ones you will be working with in in this lab.

**movies**

| Column Name | Data Type | Description                          |
| ----------- | --------- | ------------------------------------ |
| **`movie_id`** | INTEGER   | ID related to the movie on Mubi      |
| **`movie_title`**| TEXT      | Name of the movie                   |
| **`movie_release_year`**| INTEGER   | Release year of the movie            |
| `movie_url`| TEXT  | URL to the movie page on Mubi |
| `movie_title_language`| TEXT | By default, the title is in English. |
| **`movie_popularity`**   | INTEGER      | Number of Mubi users who love this movie                 |
| `movie_image_url`| TEXT |    Image URL to the movie on Mubi | 
| `director_id`  | INTEGER   | ID related to the movie director on Mubi    |
| **`director_name`**    | TEXT      |	Full Name of the movie director    |
| `director_url` | TEXT | URL to the movie director page on Mubi| 
| **`rating`** | REAL | Movie rating, based on Mubi user ratings | 

**ratings**

| Column Name | Data Type | Description                          |
| ----------- | --------- | ------------------------------------ |
| **`movie_id`**  | INTEGER   | Movie ID related to the rating       |
| `rating_id`   | INTEGER   | Rating ID on Mubi       |
| `rating_url`   | TEXT   | URL to the rating on Mubi       |
| `rating_score`    | INTEGER      | Rating score ranging from 1 (lowest) to 5 (highest) |
| `rating_timestamp` | INTEGER   | Timestamp for the movie rating made by the user on Mubi              |
| **`critic`**| TEXT | Critic made by the user rating the movie. If value = "None", the user did not write a critic when rating the movie. |
| **`critic_likes`** | INTEGER | Number of likes related to the critic made by the user rating the movie |
| `critic_comments` | INTEGER | Number of comments related to the critic made by the user rating the movie |
| `user_id` | INTEGER | ID related to the user rating the movie | 
| `user_trialist` | INTEGER | 1 = the user was a trialist when he rated the movie 0 = the user was not a trialist when he rated the movie |
| `user_subscriber` | INTEGER | 1 = the user was a subscriber when he rated the movie 0 = the user was not a subscriber when he rated the movie |
| `user_elegible_for_trial` | INTEGER | 1 = the user was eligible for trial when he rated the movie 0 = the user was not eligible for trial when he rated the movie |
| `user_has_payment_method` | INTEGER | 1 = the user was a paying subscriber when he rated the movie 0 = the user was not a paying subscriber when he rated |




## In order for your submission to be graded correctly, you **MUST**:

* **Use the provided variable names**. If you change them, the autograder will not be able to locate the variable for grading.

* **Replace any instances of `None` with your own code.** Some may be inside a commented line, so please read the code carefully. You may see parts of a solution already filled in, while others use the placeholder `None`. You will need to replace every instance of `None` with your own solution.

* **Only modify the cells that start with the comment `# GRADED CELL`.** All other cells are already set up, and you only need to run them.

* **Use the provided cells for your solution.** You can add new cells to experiment, but these will be omitted when grading. Some cells are already completed for you and are not modifiable, which ensures that the grader uses the same variables and settings as you.

To submit your solution, save it, then click on the blue submit button at the top of the page.

<div style="background-color: #FAD888; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width:95%">
<strong>Important note</strong>: Having all the placeholders for where your code should go will inevitably create errors, so don't try to run the notebook before completing the exercises. You can run the cells as you complete them to see that the code is running and giving the correct results.
</div>

## Table of Contents

- [Step 1: Importing libraries](#step-1)
- [Step 2: Connecting to the Database](#step-2)
- [Step 3: Data Validation](#step-3)
    - [Exercise 1: Unique movies](#ex1)
    - [Exercise 2: Missing Data](#ex2)
- [Step 4: Deeper Analysis on the dataset](#step-4)
    - [Exercise 3: Analyzing Highly-Rated Recent Movies](#ex3)
    - [Exercise 4: Director's Cuts](#ex4)
    - [Exercise 5: Average Rating Per Year](#ex5)
    - [Exercise 6: Most Liked Critiques](#ex6)
    - [Exercise 7: Identifying Unrated Movies](#ex7)
    - [Exercise 8: Binning Popularity](#ex8)

<a id="step-1"></a>

## Step 1: Importing libraries

Before you start working on the dataset, it is good practice to import all libraries at the beginning of your code. 

<div style="background-color: #C6E2FF; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width:95%
">
    <strong>▶▶▶ Directions</strong> 
        <ol>
            <li>Run the cell below to import the following `sqlite3` and `pandas` libraries.</li>
        </ol>
</div>

In [1]:
import sqlite3
import pandas as pd

<a id="step-2"></a>

## Step 2: Connecting to the Database
Begin by connecting to the MUBI database

<div style="background-color: #C6E2FF; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width:95%
">

**▶▶▶ Directions**
1. Run the cell below to connect to the `mubi_movies_ratings_db.sqlite` database 

</div>

In [2]:
# create a connection to the database
conn = sqlite3.connect("./data/mubi_movies_ratings_db.sqlite")

# check the connection with a small query
pd.read_sql("SELECT movie_id, movie_title FROM movies LIMIT 1", conn)

OperationalError: unable to open database file

<details>
<summary style="background-color: #c6e2ff6c; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01); width: 95%; text-align: left; cursor: pointer; font-weight: bold;">
Expected output:</summary> 
<br>


<span style="font-size: 10px;">

```mkdn
   movie_id movie_title
0         1   La Antena
```
</span>
</details>

<a id="step-3"></a>

## Step 3: Data Validation
<a id="ex1"></a>

#### Exercise 1: Unique Movies

You want to ensure your data is unique so your analysis is accurate and not influenced by repeated entries.

<div style="background-color: #C6E2FF; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width:95%">

**▶▶▶ Directions**
1. Write a query that:
    - Counts the number of unique movie titles in the `movies` table.
    - Counts the number of rows in the `movies` table.
    - Uses the aliases `num_unique_movies` and `num_rows` respectively for the results.
2. Run the query and save the resulting DataFrame.
</div>

<details>
<summary style="background-color: #FDBFC7; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width: 95%; text-align: left; cursor: pointer; font-weight: bold;">
If you are stuck, click here for extra hints!</summary> 

<ul style="background-color: #FFF8F8; padding: 10px; border-radius: 3px; margin-top: 5px; width: 95%; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);">
   
- Two different movies could have the same name. Think, for example, of remakes. A better identifier for unique movies is the `movie_id` column.
- To know the number of distinct movies, you need to `COUNT` all `UNIQUE` values in the `movie_id` column.
- To get the total number of rows, you can `COUNT` all the values in `movie_id`.
- To define aliases, you need to add the `AS` statement followed by the desired name after each value you want to `SELECT`. It should look something like this:

    ```SQL
    SELECT customer_id AS "ID", customer_surname AS "Last Name"
    ```
- Remember to indicate which table you want to retrieve the information from. In this case, `movies`.
- Don't forget to finish the query with a semi-colon (;).
- To run the query, you can use the `pd.read_sql()` function. You only need to pass the query and the connection (in that order).
</ul>
</details>

In [5]:
# GRADED CELL: Exercise 1

### START CODE HERE ###

# write the query to get the number of unique movie ids and rows in the movies table
query_unique_titles = """

SELECT DISTINCT COUNT(*) AS '# unique movies',
COUNT(*) AS '# rows'
FROM movies
"""

# run the query and save the results
df_unique_movies = pd.read_sql(query_unique_titles, conn)

### END CODE HERE ###

In [6]:
# print the results 
df_unique_movies

   # unique movies  # rows
0           226575  226575

<details>
<summary style="background-color: #c6e2ff6c; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01); width: 95%; text-align: left; cursor: pointer; font-weight: bold;">
Expected output:</summary> 
<br>

<img src="imgs/ex3.png" width="150"/>
</details>

Based on these results, are there any repeated movies in the dataset?
<a id="ex2"></a>

#### Exercise 2: Missing Data

You want to make sure you are taking care of missing values in your dataset. If not handled properly, they could lead to skewed results.

<div style="background-color: #C6E2FF; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width:95%">

**▶▶▶ Directions**

1. Write a SQL query that returns the `movie_id`, `movie_title`, `director_name` and `movie_popularity` from movies with missing (NULL) year (`movie_release_year`) from the `movies` table.
2. Execute the query and save the results as a Pandas DataFrame.
</div>

<details>
<summary style="background-color: #FDBFC7; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width: 95%; text-align: left; cursor: pointer; font-weight: bold;">
If you are stuck, click here for extra hints!</summary> 

<ul style="background-color: #FFF8F8; padding: 10px; border-radius: 3px; margin-top: 5px; width: 95%; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);">
   
- To filter rows where some condition is met, you can use the `WHERE` statement followed by the condition.
- To check for null values, you want to compare against `IS NULL`.
- Don't forget to finish the query with a semi-colon (;).
- To run the query, you can use the `pd.read_sql()` function. You only need to pass the query and the connection (in that order).
</ul>
</details>

In [7]:
# GRADED CELL: Exercise 2

### START CODE HERE ###

# write the query to get movies with missing release years
query_missing_year = """
SELECT movie_id, movie_title, director_name, movie_popularity
FROM movies
WHERE movie_release_year IS NULL
"""


# run the query and save the results
df_missing_years = pd.read_sql(query_missing_year, conn)

### END CODE HERE ###

In [8]:
# show the results
df_missing_years

   movie_id     movie_title    director_name  movie_popularity
0    100526    The Overcoat  Yuriy Norshteyn                 3
1    114131  Found in Trash      Adam Cooley                 0
2    134787     Phantom Ore        Myron Ort                 1
3    134788   New York Kino        Myron Ort                 0
4    134790        Awakener        Myron Ort                 0

<details>
<summary style="background-color: #c6e2ff6c; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01); width: 95%; text-align: left; cursor: pointer; font-weight: bold;">
Expected output:</summary> 
<br>

<img src="imgs/ex4.png" width="200"/>
</details>

There are almost no movies with missing years, and they don't really seem too popular either, so probably very few people watched them. This will have almost no impact in your analysis, so you decide to leave it as it is.

<a id="step-4"></a>

## Step 4: Deeper Analysis on the Dataset

<a id="ex3"></a>

#### Exercise 3: Analyzing Highly-Rated Recent Movies

You want to identify films released after 2015 that have resonated well with audiences to guide future promotional strategies. You'll focus on movies with scores above 4.5, excluding perfect ratings, as these are likely the result of a limited number of viewers.

<div style="background-color: #C6E2FF; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width:95%">

**▶▶▶ Directions**
1. Write a SQL query that:
    - Selects the `movie_title`, `rating`, and `movie_release_year` of movies that:
        - Were released after 2015,
        - Have a rating **between** 4 and 4.9 
    - Orders the result by `rating` and `movie_release_year` in descending order (in that order).
2. Execute that query.
3. Save the resulting DataFrame in the `new_movies` variable.
</div>

<details>
<summary style="background-color: #FDBFC7; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width: 95%; text-align: left; cursor: pointer; font-weight: bold;">
If you are stuck, click here for extra hints!</summary> 

<ul style="background-color: #FFF8F8; padding: 10px; border-radius: 3px; margin-top: 5px; width: 95%; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);">
   
- Use `WHERE` to filter rows based on multiple conditions.
- To combine the multiple conditions, use `AND` and `OR` statements. Use parentheses where needed.
- Filter the release year using >/>= and </<=.
- For the rating, you can use `BETWEEN` 
- To sort the results you can use the `ORDER BY` statement. Don't forget to indicate you want it in descending order (`DESC`)
- Remember to finish the query with a semi-colon (;)
- To run the query you can use the `pd.read_sql()` function. You only need to pass the query and the connection (in that order).
</ul>
</details>

In [16]:
# GRADED CELL: Exercise 3

### START CODE HERE ###

# write the query to get the movies released after 2015
# with a rating higher than 4 or a popularity higher than 100
query_high_rated_recent = """
SELECT movie_title, rating, movie_release_year
FROM movies
WHERE (movie_release_year >= 2015) AND (rating BETWEEN 4 AND 4.9) 
ORDER BY rating DESC, movie_release_year DESC
"""

# run the query and save the results
df_high_rated_recent = pd.read_sql(query_high_rated_recent, conn)

### END CODE HERE ###

In [17]:
# print the results
df_high_rated_recent

,movie_title,rating,movie_release_year
0,Shōwa Genroku Rakugo Shinjū,4.9,2016.0
1,Kosmos,4.9,2015.0
2,The Works and Days (of Tayoko Shiojiri in the ...,4.8,2020.0
3,The Planets,4.8,2019.0
4,"This Is Not a Burial, It's a Resurrection",4.8,2019.0
...,...,...,...
3676,Before This War,4.0,2015.0
3677,Le Sous Sol,4.0,2015.0
3678,Playing the tiger,4.0,2015.0
3679,Eclipse of Useless Light,4.0,2015.0
3680,The Other Day (Or Was It Night?),4.0,2015.0

<details>
<summary style="background-color: #c6e2ff6c; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01); width: 95%; text-align: left; cursor: pointer; font-weight: bold;">
Expected output:</summary> 
<br>

<img src="imgs/ex5.png" width="250"/>

</details>

<a id="ex4"></a>

#### Exercise 4: Director's Cuts

You want to identify the top 10 rated director's cuts, to help guide content strategy decisions, ensuring platforms prioritize high-quality, audience-approved films for their curated selections.

<div style="background-color: #C6E2FF; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width:95%">

**▶▶▶ Directions**
1. Write a SQL query to:
    - Retrieve the `movie_title`, `director_name`, and `rating` for movies where the title includes the phrase "director's cut"
    - Order the results by `rating` in decreasing order
    - Shows the top 10 rated movies
2. Execute the query.
3. Save the results.
</div>

<details>
<summary style="background-color: #FDBFC7; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width: 95%; text-align: left; cursor: pointer; font-weight: bold;">
If you are stuck, click here for extra hints!</summary> 

<ul style="background-color: #FFF8F8; padding: 10px; border-radius: 3px; margin-top: 5px; width: 95%; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);">
   
- For string-based filtering, you can use the `LIKE` keyword to filter based on partial string matches.
- The phrase "director's cut" could appear at any part of the title. For that, use `%` as a wildcard for flexible matching.
- The case doesn't matter, so searching for "Director's cut" or "director's cut" will get the same results
- To order the results, you can use the `ORDER BY` statement
- To extract the top 10 rated movies, use the statemetn `LIMIT` after ordering the results
- Don't forget to finish the query with a semi-colon (;).
- To run the query, you can use the `pd.read_sql()` function. You only need to pass the query and the connection (in that order).
</ul>
</details>

In [20]:
# GRADED CELL: Exercise 4

### START CODE HERE ###

# write the query to get the romantic movies
query_director_cut = """
SELECT movie_title, director_name, rating
FROM movies
WHERE movie_title LIKE "%director's cut%"
ORDER BY rating DESC
LIMIT 10

"""

# run the query and save the results
df_director_cut = pd.read_sql(query_director_cut, conn)

### END CODE HERE ###

In [21]:
# print the results
df_director_cut

,movie_title,director_name,rating
0,Nymphomaniac: Volume I – The Director's Cut,Lars von Trier,4.0
1,Hysteria (Director's Cut),Matt Kirby,4.0
2,When I Get Home (Director's Cut),"Solange Knowles, Alan Ferguson, Terence Nance,...",4.0
3,Nymphomaniac: Volume II – The Director's Cut,Lars von Trier,3.7
4,Immoral Tales: Director's Cut,Walerian Borowczyk,3.6
5,Lola+Bilidikid (Director's Cut),Kutlug Ataman,3.5
6,Soul-Ache (Director's Cut),Fernando Merinero,3.5
7,Badfinger: Director's Cut,Gary J. Katz,3.5
8,Children of the Wind (Director's Cut),Fernando Merinero,3.4
9,Xena: Warrior Princess - A Friend in Need (The...,Rob Tapert,3.0

<details>
<summary style="background-color: #c6e2ff6c; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01); width: 95%; text-align: left; cursor: pointer; font-weight: bold;">
Expected output:</summary> 
<br>

<img src="imgs/ex6.png" width="350"/>
</details>

<a id="ex-5"></a>

#### Exercise 5: Average Rating Per Year

Motivation: You want to understand how audience preferences evolve over time by examining average ratings.

<div style="background-color: #C6E2FF; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width:95%">

**▶▶▶ Directions**
1. Write a SQL query to:
    - Calculate the average `rating`, and maximum  `movie_popularity` per release year.
    - Use the aliases `avg_rating`, and `max_popularity` respectively.
    - Return also the year, with the alias `year`
    - Order the results by year in ascending order.
    - Show only the results of the last 10 years.
2. Execute the query and save the results.
</div>

<details>
<summary style="background-color: #FDBFC7; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width: 95%; text-align: left; cursor: pointer; font-weight: bold;">
If you are stuck, click here for extra hints!</summary> 

<ul style="background-color: #FFF8F8; padding: 10px; border-radius: 3px; margin-top: 5px; width: 95%; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);">
   
- To calculate average, maximum, and minimum values, you can use the `AVG()`, and `MAX()` functions respectively. In all cases, you need to pass the column you wish to operate on as an argument.
- To also show the release year, you will need to add it to the `SELECT` statement
- To segment by release year, you can use the `GROUP BY` statement.
- To order the results, use the `ORDER BY` statement, and indicate how you want the order, ASC or DESC.
- To filter the last 20 years, you can use the `LIMIT` statement.
- Don't forget to finish the query with a semi-colon (;).
- To run the query, you can use the `pd.read_sql()` function. You only need to pass the query and the connection (in that order).

</ul>
</details>

In [39]:
# GRADED CELL: Exercise 5

### START CODE HERE ###

# write a query to get the average rating, maximum popularity, 
# and minimum popularity for each year
query_avg_rating_year = """
SELECT movie_release_year AS year,
        AVG(rating) AS "avg rating", 
        MAX(movie_popularity) AS "max popularity"
FROM movies
GROUP BY movie_release_year
ORDER BY movie_release_year DESC
LIMIT 10
"""

# run the query and save the results
df_avg_rating_year =  pd.read_sql(query_avg_rating_year, conn)

### END CODE HERE ###

In [40]:
# print the results
df_avg_rating_year

     year  avg rating  max popularity
0  2021.0    2.406250               0
1  2020.0    3.001096              25
2  2019.0    2.993742            1933
3  2018.0    2.975750             854
4  2017.0    2.965855            1223
5  2016.0    2.925453            1238
6  2015.0    2.909311            1400
7  2014.0    2.874388            2091
8  2013.0    2.921012            1917
9  2012.0    2.943255            2384

<details>
<summary style="background-color: #c6e2ff6c; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01); width: 95%; text-align: left; cursor: pointer; font-weight: bold;">
Expected output:</summary> 
<br>

<img src="imgs/ex7.png" width="200"/>
</details>

What happened with the maximum popularity of 2021 movies? Well, probably movies were too new by the time the data was gathered, so there were no users that had actually "loved" the movie. 

<a id="ex-6"></a>

#### Exercise 6: Most Liked Critiques

The company wants to engage with the most liked critics and is planning a campaign to offer them a free month of subscription in exchange for writing reviews of the latest movies.

<div style="background-color: #C6E2FF; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width:95%">

**▶▶▶ Directions**
1. Write a SQL query to:
    - Select the `movie_title` from the `movies` table, and `critic` and `critic_likes` from the `ratings` table.
    - Order the results by `critic_likes` in **descending** order to identify the most commented movies.
    - Only show the results for reviews with the 10 highest number of likes.
2. Execute the query and save the results.
</div>

<details>
<summary style="background-color: #FDBFC7; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width: 95%; text-align: left; cursor: pointer; font-weight: bold;">
If you are stuck, click here for extra hints!</summary> 

<ul style="background-color: #FFF8F8; padding: 10px; border-radius: 3px; margin-top: 5px; width: 95%; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);">
   
- To show results from two different tables, you need to `JOIN` them to create a new table.
- The join is made on a specific column. It should look something like this:
    
    ```SQL
    table1 JOIN table2 ON table1.key = table2.key
    ```
    
    In this case, the key should be `movie_id`, which is the column linking both tables.
- Specify the columns you need in the SELECT statement. To select the columns from each table, you need to pre-append the table name followed by a period (.). It looks something like this: `table1.column_name`.
- Use `ORDER BY` to sort results in descending order (`DESC`).
- Limit results using the `LIMIT` statement.
- Don't forget to finish the query with a semi-colon (;).
- To run the query, you can use the `pd.read_sql()` function. You only need to pass the query and the connection (in that order).
</ul>
</details>

In [41]:
# GRADED CELL: Exercise 6

### START CODE HERE ###

# write a query to get the movie name and critics of the most liked critics
query_top_critiques = """
SELECT movies.movie_title,
        ratings.critic,
        ratings.critic_likes
FROM movies
JOIN ratings ON movies.movie_id = ratings.movie_id
ORDER BY ratings.critic_likes DESC
LIMIT 10
"""

# run the query and save the results
df_top_critiques = pd.read_sql(query_top_critiques, conn)

### END CODE HERE ###

In [42]:
# print the results
df_top_critiques

,movie_title,critic,critic_likes
0,Call Me by Your Name,Call me By Your Name. By my name. By our name....,79
1,Whale Valley,nearly dead whale wants to live; nearly alive ...,78
2,La La Land,This should have been called The Death of Tale...,74
3,Arrival,ARRIVAL HAS CHANGED MY LIFE,67
4,Portrait of a Lady on Fire,I adore films that look like paintings. It's ...,66
5,Stalker,"The people who made this incredible film, one ...",63
6,Hidden,"""If you think it's Majid, Pierrot, Georges, th...",62
7,Elle,This is the perfect vehicle for Isabelle Huppe...,59
8,The Lobster,"If I am going to be changed into an animal, I ...",59
9,The Florida Project,Dysfunctional America. File this alongside Ame...,56

<details>
<summary style="background-color: #c6e2ff6c; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01); width: 95%; text-align: left; cursor: pointer; font-weight: bold;">
Expected output:</summary> 
<br>
<img src="imgs/ex8.png" width="350"/>
</span>
</details>

<a id="ex-7"></a>

#### Exercise 7: Identifying Unrated Movies

You want to identify movies without ratings to better understand content gaps and viewer engagement.

<div style="background-color: #C6E2FF; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width:95%">

**▶▶▶ Directions**
1. Write a SQL query to:
    - Return the number of movies (count) that have no associated ratings in the `ratings` table. (**Hint**: use a `JOIN` statement).
    - Use the alias `num_no_reviews`.
2. Execute the query and save the DataFrame of results.
</div>

<details>
<summary style="background-color: #FDBFC7; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width: 95%; text-align: left; cursor: pointer; font-weight: bold;">
If you are stuck, click here for extra hints!</summary> 

<ul style="background-color: #FFF8F8; padding: 10px; border-radius: 3px; margin-top: 5px; width: 95%; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);">
   
- One way to check which movies have no comments in the `ratings` table is by checking which movies appear in the `movies` table, but not in the `ratings` table.
- You can check this using a `LEFT JOIN`.
- Movies that are in the `movies` table, but not in the `ratings` table will have NULL values in the columns corresponding to the `ratings` table.
- To get the movies without ratings, you can filter using `WHERE` and look for the rows where `ratings.movie_id` is NULL.
- Finally, use `COUNT(*)` to get the number of rows.
</ul>
</details>

In [ ]:
# GRADED CELL: Exercise 7

### START CODE HERE ###

# write a query to get the movie names of the movies with no ratings in the `ratings` table
query_no_ratings = """
SELECT COUNT(*) AS "num_no_reviews"
FROM movies
OUTER JOIN ratings ON movies.movie_id=ratings.movie_id

"""

# run the query and save the results
df_no_ratings = pd.read_sql(query_no_ratings, conn)

### END CODE HERE ###

In [ ]:
# print the results
df_no_ratings

<details>
<summary style="background-color: #c6e2ff6c; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01); width: 95%; text-align: left; cursor: pointer; font-weight: bold;">
Expected output:</summary> 
<br>

<img src="imgs/ex9.png" width="100"/>
</details>

<a id="ex-8"></a>

#### Exercise 8: Binning Popularity

You want to segment movies based on rating to better analyze audience preferences.

<div style="background-color: #C6E2FF; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width:95%">

**▶▶▶ Directions**
1. Write a SQL query that:
    - Creates rating bins:
        - "High": `rating` > 4.5
        - "Medium": 3 <= `rating` <= 4.5
        - "Low": `rating` < 3
    - Uses the alias `rating_category`.
    - Returns the rating bin and the number of movies in each bin.
    - Uses the alias `movie_count` for the number of movies in each bin.
2. Execute the query and save the DataFrame of results.
</div>

<details>
<summary style="background-color: #FDBFC7; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width: 95%; text-align: left; cursor: pointer; font-weight: bold;">
If you are stuck, click here for extra hints!</summary> 

<ul style="background-color: #FFF8F8; padding: 10px; border-radius: 3px; margin-top: 5px; width: 95%; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);">
   
- To create the different categories, or bins, you can use the `CASE` statement. Remember to close it with the `END` statement after you define each case
- To define each category, use `WHEN` followed by the condition. This is kind of like the `if` statement in Python
- For the last category, you can use `ELSE`, just as you did in Python
- The cases should appear between the `SELECT`, since it is defining the values you want to select. It should be something like this:
    ```SQL 
    SELECT
        CASE
            WHEN condition1 THEN value1
            WHEN condition2 THEN value2
            WHEN condition3 THEN value3
            ELSE value4
        END
        AS wanted_name
        <continue query>
    ```
- Use the alias `rating_category`. 
- Select also the count in each category. To do this, use `COUNT(*)`.
- You will need a `GROUP BY` statement to get the counts in each bin
</ul>
</details>

In [ ]:
# GRADED CELL: Exercise 8

### START CODE HERE ###

# write the query to count the number of movies in each popularity category
query_rating_binning = None

# run the query
df_rating_binning = None

### END CODE HERE ###

In [ ]:
# print the results
df_rating_binning

<details>
<summary style="background-color: #c6e2ff6c; padding: 10px; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01); width: 95%; text-align: left; cursor: pointer; font-weight: bold;">
Expected output:</summary> 
<br>

<img src="imgs/ex10.png" width="200"/>
</details>

Finally, run the next cell to close the connection

In [ ]:
conn.close()

Congratulations on finishing this graded lab! If everything is running correctly, you can go ahead and submit your code for grading.